@import "variable";

.btn {
  font-family: 'Didact', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 151px;
  height: 36px;
  background: #A88A8A;
  color: #ffffff;
}

@media all and (min-width: 768px) {
  .btn {
    font-size: 10px;
    width: 122px;
    height: 29px;
  }
}

@media all and (min-width: 1500px) {
  .btn {
    font-size: 16px;
    width: 170px;
    height: 41px;
  }
}
