@import "variable";
header {
    display: none;
}

.section {
    &__services {
        width: 100%;
        height: auto;
        overflow: hidden;
        .section__descriptions {
            background-color: $ServiceColor;
            text-align: center;
        }
        .section__description {
            display: none;
        }
        &__list_border {
            border-top: 1px solid #D8C594;
            border-left: 1px solid #D8C594;
            border-right: 1px solid #D8C594;
            padding: 20px 40px;
            margin: 20px 20px 0px 20px;
        }
        &__img_border {
            position: relative;
        }
        &__img_border:before {
            content: '';
            position: absolute;
            width: 1px;
            height: 100%;
            top: 0px;
            left: 20px;
            background: #D8C594;
            z-index: 1;
        }
        &__img_border:after {
            content: '';
            position: absolute;
            width: 1px;
            height: 100%;
            top: 0px;
            right: 20px;
            background: #D8C594;
            z-index: 1;
        }
        &__border_descriptions {
            border-left: 1px solid #D8C594;
            border-right: 1px solid #D8C594;
            border-bottom: 1px solid #D8C594;
            padding: 0px 17px 0px 17px;
            margin: 0px 20px 0px 20px;
        }
        .container {
            ul {
                list-style: none;
                li {
                    margin: 20px 0 0 -25px;
                }
            }
            a {
                color: $fontColorMain;
                font-family: Didact Gothic;
                font-style: normal;
                font-weight: normal;
                font-size: $MainFont;
                line-height: 18px;
                text-align: left;
            }
            a:hover {
                border-bottom: 1px solid $fontColorMain;
            }
        }
        img {
            width: 100%;
            height: 475px;
            display: block;
            object-fit: cover;
            margin: 0 auto;
        }
        h2 {
            display: block;
            color: #A88A8A;
            font-family: Mak;
            font-style: normal;
            font-weight: 300;
            font-size: 32px;
            line-height: 38px;
            text-align: center;
        }
        .section__descriptions {
            h3 {
                font-family: Mak;
                font-style: normal;
                font-weight: 300;
                color: #A88A8A;
                font-size: 22px;
                line-height: 26px;
                text-align: center;
                padding-top: 20px;
                margin: 0;
            }
            h4 {
                position: relative;
                left: 50%;
                transform: translate(-50%, 0);
                font-family: Didact Gothic;
                font-style: normal;
                font-weight: normal;
                font-size: $TextFont;
                line-height: 16px;
                text-align: justify;
                color: $fontColorMain;
                padding: 1% 2% 0 2%;
            }
        }
        .button_section__services {
            background: #A88A8A;
            margin: 7% 0px 7% 0px;
            color: #ffffff;
            width: 151px;
            height: 36px;
            box-shadow: none;
            font-family: Didact Gothic;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
        }
        .button_section__services:hover {
            background: #7a5e5e;
        }
        .right_description,
        .right_description_active {
            display: none;
            float: right;
        }
        .right_description h5,
        .right_description_active h5 {
            padding: 0;
            margin: 0;
            text-align: right;
        }
    }
    &__price {
        width: 100%;
        height: auto;
        overflow: hidden;
        h2 {
            color: #A88A8A;
            padding-top: 30px;
            text-align: center;
            font-family: Mak;
            font-style: normal;
            font-weight: 300;
            font-size: 32px;
            line-height: 38px;
        }
        p {
            font-family: Didact Gothic;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            text-transform: uppercase;
        }
        img {
            width: 16px;
            height: 8px;
            margin-right: 25px;
        }
        li {
            list-style-type: none;
            display: flex;
            align-items: center;
        }
    }
    &__about {
        width: 100%;
        height: auto;
        overflow: hidden;
        .about_image {
            background-image: url(/img/image/about_us_image.jpg);
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 479px;
            display: block;
        }
        .section__heading {
            font-family: Mak;
            font-style: normal;
            font-weight: 300;
            color: #ffffff;
            font-size: 32px;
            text-align: center;
            line-height: 38px;
            padding-top: 27px;
            border-top: 1px solid #D8C594;
            margin: 20px 20px 0px 20px;
            top: 20px;
            position: relative;
        }
        &__description {
            font-family: Didact Gothic;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            text-align: justify;
            color: #777575;
            padding: 8%;
        }
        &__image_border {
            position: relative;
        }
        &__image_border:before {
            content: '';
            position: absolute;
            width: 1px;
            height: 100%;
            top: 20px;
            left: 20px;
            background: #D8C594;
            z-index: 1;
        }
        &__image_border:after {
            content: '';
            position: absolute;
            width: 1px;
            height: 100%;
            top: 20px;
            right: 20px;
            background: #D8C594;
            z-index: 1;
        }
        &__description_border {
            border-left: 1px solid #D8C594;
            border-right: 1px solid #D8C594;
            border-bottom: 1px solid #D8C594;
            margin: 0px 20px 0px 20px;
            text-align: justify;
        }
    }
    &__clinic {
        background-color: #ffffff;
        width: 100%;
        height: auto;
        overflow: hidden;
        h2 {
            color: #A88A8A;
            padding: 26px 0px 20px 0px;
            text-align: center;
            font-family: Mak;
            font-style: normal;
            font-weight: 300;
            font-size: 32px;
            line-height: 38px;
        }
        &__container_image {
            background-color: $ServiceColor;
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: row;
            overflow: hidden;
            .left_image {
                width: 65%;
            }
            .left_image img {
                width: 200%;
                float: left;
                min-height: 183px;
                max-height: 448px;
                top: 50%;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%);
                position: relative;
            }
            .right_image img {
                float: right;
                width: 100%;
                height: auto;
                position: relative;
            }
            .hover_right_image {
                display: none;
                position: absolute;
            }
            .first_right_image:hover {
                .hover_right_image {
                    display: block;
                }
            }
        }
    }
    &__instagram {
        background-color: #C1B4B4;
        width: 100%;
        height: auto;
        overflow: hidden;
        .instagram_border {
            border-top: 1px solid #D8C594;
            border-left: 1px solid #D8C594;
            border-right: 1px solid #D8C594;
            border-bottom: 1px solid #D8C594;
            margin: 20px 20px 20px 20px;
            position: relative;
        }
        .container_image {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: auto;
            padding: 5% 5% 0 5%;
        }
        .container_image img {
            padding: 0 5px 0 5px;
            width: 100%;
            height: auto;
            overflow: hidden;
        }
        h2 {
            font-family: Mak;
            font-style: normal;
            font-weight: 300;
            font-size: 32px;
            line-height: 38px;
            text-align: center;
            color: #FFFFFF;
            padding-top: 5%;
        }
        .button_section__instagram {
            position: relative;
            left: 50%;
            transform: translate(-50%, 0);
            background: #FFEBE0;
            margin: 5% 0px 5% 0px;
            color: #A88A8A;
            width: 151px;
            height: 37px;
            box-shadow: none;
            font-family: Didact Gothic;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
        }
        .button_section__instagram:hover {
            background: #faddcd;
        }
    }
}

@media all and (min-width: 768px) {
    .section {
        &__services {
            background-color: $ServiceColor;
            display: flex;
            flex-direction: row;
            .right_description_active {
                display: block;
            }
            &__border_descriptions,
            &__list_border {
                border: none;
            }
            .right_description,
            .right_description_active {
                margin: 140px -110px 20px 0px;
            }
            .section__descriptions {
                margin: 0 0 0 12%;
                h3 {
                    float: right;
                    width: 200px;
                    padding: 70px 90px 0px 0px;
                }
                h4 {
                    width: 250px;
                    padding: 190px 90px 0 0px;
                }
                .button_section__services {
                    float: right;
                    margin-right: 127px;
                    width: 86px;
                    height: 21px;
                    font-weight: normal;
                    font-size: 9px;
                    line-height: 12px;
                }
            }
            h2,
            &__img_border:before,
            &__img_border:after {
                display: none;
            }
            .container {
                min-width: 178px;
                ul {
                    padding: 0;
                }
            }
            img {
                margin: 40px 0 0 -197px;
                width: 280px;
                height: 420px;
                overflow: hidden;
                content: '';
            }
        }
        &__price {
            h2 {
                text-align: left;
                padding: 50px 0 30px 42px;
            }
            .container {
                padding: 0 0 30px 58px;
            }
        }
        &__about {
            display: flex;
            flex-direction: row;
            margin: 20px 20px 20px 0;
            &__image_border:before,
            &__image_border:after {
                display: none;
            }
            .section__heading {
                border: none;
            }
            &__description_border {
                border-left: none;
            }
            .about_image {
                margin: 0 0 0 100px;
                width: 249px;
                height: 374px;
                h2 {
                    margin: -53px 0 0 307px;
                    min-width: 150px;
                    color: #A88A8A;
                    font-family: Mak;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 46px;
                    line-height: 55px;
                }
            }
            &__description {
                min-width: 280px;
                max-width: 450px;
                padding: 70px 20px 20px 45px;
            }
        }
        &__clinic {
            .left_image {
                width: 25%;
            }
            .left_image img {
                width: 200%;
                float: left;
                min-height: 448px;
                max-height: 543px;
            }
        }
        &__instagram {
            .instagram_border {
                border: none;
            }
            .container_image {
                padding: 5% 20% 0 20%;
            }
            .instagram_border {
                padding: 0;
                margin: 0;
            }
        }
    }
}

@media all and (min-width: 1500px) {
    .section {
        &__services {
            background-color: $ServiceColor;
            display: flex;
            flex-direction: row;
            .right_description_active {
                display: block;
            }
            &__border_descriptions,
            &__list_border {
                border: none;
            }
            .right_description,
            .right_description_active {
                margin: 140px -110px 20px 0px;
            }
            .section__descriptions {
                margin: 0 0 0 12%;
                h3 {
                    float: right;
                    width: 300px;
                    padding: 70px 90px 0px 0px;
                }
                h4 {
                    width: 350px;
                    padding: 190px 90px 0 0px;
                }
                .button_section__services {
                    float: right;
                    margin-right: 127px;
                    width: 170px;
                    height: 41px;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 18px;
                }
            }
            h2,
            &__img_border:before,
            &__img_border:after {
                display: none;
            }
            .container {
                min-width: 178px;
                ul {
                    padding: 0;
                }
            }
            img {
                margin: 85px 0 0 -107px;
                width: 550px;
                height: 817px;
                overflow: hidden;
                content: '';
            }
        }
        &__price {
            h2 {
                text-align: left;
                padding: 50px 0 30px 42px;
            }
            .container {
                padding: 0 0 30px 148px;
            }
        }
        &__about {
            display: flex;
            flex-direction: row;
            margin: 20px 20px 20px 0;
            &__image_border:before,
            &__image_border:after {
                display: none;
            }
            .section__heading {
                border: none;
            }
            &__description_border {
                border-left: none;
            }
            .about_image {
                margin: 100px 0 0 190px;
                width: 360px;
                height: 540px;
                h2 {
                    margin: -53px 0 0 307px;
                    min-width: 150px;
                    color: #A88A8A;
                    font-family: Mak;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 46px;
                    line-height: 55px;
                }
            }
            &__description {
                min-width: 450px;
                max-width: 650px;
                padding: 100px 40px 40px 85px;
            }
        }
        &__clinic {
            .left_image {
                width: 25%;
            }
            .left_image img {
                width: 100%;
                float: left;
                margin-left: 570px;
                min-height: 543px;
                max-height: 700px;
            }
        }
        &__instagram {
            .instagram_border {
                border: none;
            }
            .container_image {
                padding: 5% 20% 0 20%;
            }
            .instagram_border {
                padding: 0;
                margin: 0;
            }
        }
    }
}